{% extends 'base.html.twig' %}

{% block body %}
  {% for book in books %}
    <h1 class="bg-blue-500 text-2xl text-center font-bold">yay</h1>
    <img src="{{ asset('build/images/image.56634919.jpg') }}" alt="">
  {% endfor %}
{% endblock %}
